<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff"></remove>
			<mimeMap fileExtension=".woff" mimeType="font/woff"></mimeMap>
		</staticContent>
	</system.webServer>
	<location path="DfResource">
		<system.webServer>
			<dataflexHttpModule application="WebImageZoom_24_0" enabled="true" errortype="0" object="oWebResourceManagerProxy" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="WebServiceDispatcher.wso">
		<system.webServer>
			<dataflexHttpModule application="WebImageZoom_24_0" enabled="true" errortype="1" object="oWebServiceDispatcher" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
</configuration>
